<section class="actions-bar" role="toolbar" aria-label="Editor actions" i18n-aria-label="@@actionsBar.ariaLabel">
  <app-file-picker
    accept=".geojson,application/geo+json,application/json"
    (fileSelected)="importRequested.emit($event)"
  >
    <ng-container i18n="@@actionsBar.importLabel">Import GeoJSON</ng-container>
  </app-file-picker>

  <app-button [variant]="secondaryVariant" (clicked)="exportRequested.emit()">
    <ng-container i18n="@@actionsBar.exportLabel">Export</ng-container>
  </app-button>

  <app-button [variant]="secondaryVariant" (clicked)="saveRequested.emit()">
    <ng-container i18n="@@actionsBar.saveLabel">Save</ng-container>
  </app-button>

  <app-button
    [variant]="addModeEnabled() ? secondaryVariant : primaryVariant"
    [ariaPressed]="addModeEnabled()"
    (clicked)="addModeToggled.emit()"
  >
    @if (addModeEnabled()) {
      <ng-container i18n="@@actionsBar.cancelAdd">Cancel add</ng-container>
    } @else {
      <ng-container i18n="@@actionsBar.addPoint">Add point</ng-container>
    }
  </app-button>

  <app-button
    [variant]="snapEnabled() ? primaryVariant : secondaryVariant"
    [ariaPressed]="snapEnabled()"
    (clicked)="snapToggled.emit()"
  >
    @if (snapEnabled()) {
      <ng-container i18n="@@actionsBar.snapOn">Snap: on</ng-container>
    } @else {
      <ng-container i18n="@@actionsBar.snapOff">Snap: off</ng-container>
    }
  </app-button>

  <app-button [variant]="dangerVariant" (clicked)="clearRequested.emit()">
    <ng-container i18n="@@actionsBar.clearLabel">Clear</ng-container>
  </app-button>
</section>
